.page__header {
  margin-top: 60px;
}

.module__name {
  margin-top: 30px;
}

.module__name__input {
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #34b847;
  padding: 10px 0px;
  width: 255px;
  border: none;
  border-bottom: 1px #000000 solid;
}

.module__name__input::placeholder {
  color: #34b847;
}

.terms__container {
  margin: 40px -15px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.terms__item {
  width: calc(33.33% - 30px);
  border-radius: 20px;
  background: #e3e3e3;
  margin: 15px;
  transition: 0.3s ease-in-out;
  padding: 40px 30px;
}

.terms__item:hover {
  background: #dedede;
}

.terms__input {
  display: block;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #34b847;
  padding: 10px 0px;
  width: 255px;
  border: none;
  border-bottom: 1px #000000 solid;
  background-color: transparent;
  margin-bottom: 15px;
}

.terms__input:last-child {
  margin-bottom: 0px;
  color: #000000;
}

.terms__input::placeholder {
  color: #34b847;
}

.terms__input:last-child::placeholder {
  color: #000000;
}

.terms__buttons {
  text-align: center;
}

.terms__buttons a {
  margin-right: 20px;
}

.terms__buttons a:last-child {
  margin-right: 0px;
}

@media (max-width: 1000px) {
  .terms__item {
    width: calc(50% - 30px);
    border-radius: 20px;
    background: #e3e3e3;
    margin: 15px;
    transition: 0.3s ease-in-out;
    padding: 40px 30px;
  }
}

@media (max-width: 690px) {
  .terms__item {
    width: 100%;
    padding: 40px 20px;
  }

  .terms__input {
    display: block;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .terms__buttons a {
    margin: 0px auto 20px auto;
  }

  .terms__buttons a:last-child {
    margin: 0px auto 50px auto;
  }
}
